{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  </head>
  <body>
    <article class="card">
      <h1>Login to you Account</h1>
      <h3>or <a href="{% url 'register' %}">Sign up</a></h3>

      {% csrf_token %}
      <form method="POST">
        <div class="input-div">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            required
          />
        </div>

        <div class="input-div">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
            minlength="8"
          />
        </div>

        <button class="auth-btn" type="submit">Log In</button>
      </form>
    </article>
  </body>
</html>
