{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  </head>
  <style>
    .non-field-err{
      background:#fee2e2; color:#b91c1c; border:1px solid #fecaca;
      padding:10px 12px; border-radius:10px; margin-bottom:14px;
    }
  </style>
  <body>
    <article class="card">
      <h1>Join Verdant</h1>
      <p class="auth-subtitle">Create your account to get started</p>

      <form method="POST">
        {% csrf_token %}

        {% if msg %}
          <div class="non-field-err err">
            {{ msg }}
          </div>
        {% endif %}

        <div class="input-div">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            required
          />
          {% if errors.username %}
          <div class="err">{{ errors.username.0 }}</div>
          {% endif %}
        </div>

        <div class="input-div">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            required
          />
          {% if errors.name %}
          <div class="err">{{ errors.name.0 }}</div>
          {% endif %}
        </div>

        <div class="input-div">
          <label for="github">GitHub</label>
          <input type="text" name="github" id="github" placeholder="GitHub" />
          {% if errors.github %}
          <div class="err">{{ errors.github.0 }}</div>
          {% endif %}
        </div>

        <div class="input-div">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
            minlength="8"
          />
          {% if errors.password %}
          <div class="err">{{ errors.password.0 }}</div>
          {% endif %}
        </div>

        <button class="auth-btn" type="submit">Register</button>
      </form>
       <p class="auth-footer">
        Already have an account? <a href="{% url 'login' %}">Login</a>
      </p>
    </article>
  </body>
</html>
